    <!-- 页脚区域 -->
    <footer class="footer jumbotron text-center">
        <h5 class="text-warning">本项目使用nodejs+express+mongodb+bootstrap搭建</h5>
    </footer>
    <script>

    </script>
    </body>

    </html>