<%- include header %>

    <!-- 内容区域 -->
    <section class="container-section">
            <div class="row">
    
                <div class="col-lg-4 col-md-6">
                    <div class="article-list-item">
                        <div class="item-img">
                            <img src="../public/img/4.jpg" alt="">
                        </div>
                        <div class="left-tilt"></div>
                        <div class="caption">
                            <h4 class="item-title">
                                title
                            </h4>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="article-list-item">
                        <div class="item-img">
                            <img src="../public/img/4.jpg" alt="">
                        </div>
                        <div class="left-tilt"></div>
                        <div class="caption">
                            <h4 class="item-title">
                                title
                            </h4>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="article-list-item">
                        <div class="item-img">
                            <img src="../public/img/4.jpg" alt="">
                        </div>
                        <div class="left-tilt"></div>
                        <div class="caption">
                            <h4 class="item-title">
                                title
                            </h4>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="article-list-item">
                        <div class="item-img">
                            <img src="../public/img/4.jpg" alt="">
                        </div>
                        <div class="left-tilt"></div>
                        <div class="caption">
                            <h4 class="item-title">
                                title
                            </h4>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <!-- 分页按钮 -->
            <div class="text-center">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                    <li>
                        <a href="#">末页</a>
                    </li>
                </ul>
            </div>
        </section>

<%- include footer %>